
.like-and-share {
	background-color: #f1c40f;
}


.like-us{
	height: 150px;
	line-height: 150px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;

}

.demand-block {
	text-align: center;
}
	

.dick {
	display: inline-block;
	margin-right: 30px; 
}

.dribble {
	position: relative;
	top: 8px;
}


.footer {
	background-color: #d8af0c;
	height: 245px;
	width: 100%;
}

.contact-container {
	height: 245px;
	padding-left: 12%;	
}


.contact {
	width: 30%;
	margin-top: 70px;
	float: left;
}

.contact-35 {
	width: 35%;
}

.contact-31 {
	width: 31%;
}

.contact-img {
	width: 55px;
	height: 100px;
	float: left;
}

.contact-img > img {

}

.contact-info {
	
}

.main-contact {
	color: #ffffff;
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 30px;	
}

.contact-us {
	color: #ffffff;
	font-size: 1em;
	font-weight: 400;
	line-height: 30px;	
}
